/*O que tem em todas paginas iguais*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #ffffef;
}
nav{
    position: fixed;
    background-color: #ffffef;
    overflow: hidden;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #b0dcd4;
    justify-content: center;
    z-index: 1000;
    display: flex;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
nav ul li a{
    color: #81B5AB;
    text-decoration: none;
    font-size: 30px;
}
nav ul li a:hover {
    color: #2d6056;
}
.espaco{/*tem que ter esse espaço pq o nav fica por cima das coisas*/
    height: 70px;/*tamanho exato do nav na vertical*/
}
.titulo{
    font-size: 50px;
    color: #D37E8E;
}

footer{
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #81b5ab;
    color: #fdfcdd;
    font-size: 25px;
    justify-content: space-around;
    z-index: 1000;
    display: flex;
}
.balao{
    color: #2D6056;
    font-size: 30px;
    margin: 10px;
    padding-left: 20px;
    width: 75%;
    height: 80px;
    background-color: #b0dcd4;
    border: 5px double #81b5ab;
    border-radius: 25px 40px 40px 0px;
    animation: balao 10s forwards;
    position: fixed;
    z-index: 999;
}
@keyframes balao {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    25%{
      opacity: 1;
      visibility: visible;
    }
    75%{
        opacity: 1;
        visibility: visible;
    }  
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
/*Pagina principal*/
.bemvindo_gradiente{
    background: linear-gradient(to bottom, #FFFFEF, #B0DCD4);
    width: auto;
    height: 550px;
    display: flex; 
}
.bemvindo{
    margin-left: 50px;
    margin-top: 5px;
    width: 654px;
    height: 580px;
}
.bemvindo p{
    font-size: 40px;
	color: #2d6056;
}
.objetivo p {
	color: #2d6056;
}
.conteudo p {
	color: #2d6056;
}
.bemvindo_botao{
    background-color: #E4A2AF;
    width: 280px;
    height: 60px;
    border: 5px #D37E8E;
    border-style: dashed;
    border-radius: 50px;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    display: flex;
	transition: 0.75s;
	cursor: pointer;
}
.bemvindo_botao:hover {
    background-color: #AF4F61;	
}
.bemvindo_botao p:hover {
    color: #E4A2AF;	
}
.bemvindo_botao p{
    color: #D0546B;
    font-size: 30px;
}
.bemvindo_botao a {
    text-decoration: none;
    color: inherit; 
}
.Guardiao{
    margin-left: auto;
    opacity: 0; 
    animation: slideFromRight 5s ease forwards;
}
@keyframes slideFromRight {/*animação da imagem surgindo da direita*/
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
}
.conteudo table{
    width: 80%;
    justify-content: center;
    z-index: 1000;
    display: flex;
    align-items: center;
}
.conteudo img{
    width: 500px;
    height: auto;
}
.conteudo table p{
    font-weight: normal;
    font-size: 35px;
}
.conteudo_botao{
    background-color: #E4A2AF;
    width: 200px;
    height: 60px;
    border: 5px #D37E8E;
    border-style: dashed;
    border-radius: 50px;
    align-items: center;
    justify-content: space-around;
    display:flex;
	transition: 0.75s;
	cursor: pointer;
}
.conteudo_botao:hover {
    background-color: #AF4F61;	
}
.conteudo_botao p:hover {
    color: #E4A2AF;	
}
.conteudo_botao p{
    color: #D0546B;
    font-size: 30px;

}
.conteudo_botao a {
    text-decoration: none;
    color: inherit; 
}


.integrantes{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    position: relative;
}
.galeria{
    display: flex;
    height: 320px;
    gap: 16px;
    margin-left: 20%;
    margin-right: 20%;
}
.galeria > div{
    flex: 1;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    position: relative;
}
.galeria > div:hover{
    flex: 5;
}
.galeria .legenda {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    width: 60%;
    background: #FFFFEF;
    color: #2d6056;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 15px;
}
.galeria > div:hover .legenda {
    opacity: 1;
}
/*pagina CONTEUDOS*/
.noticiaSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}
.noticiaDiv{
    border: #D0546B dashed 2px;
    border-radius: 25px;
    width: 20%;
    height: 300px;
    background-color: #FFFFEF;
}
.noticiaDiv img{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90%;
}
.noticiaDiv b{
    color:#D0546B;
}
.noticiaDiv p{
    margin-left: 10px;
    color: #D37E8E;
}
.noticiaDiv a{
    color: #D0546B;
    text-decoration: none;
}
.idVideo{
    position: relative;
    bottom: 70px;
}
.fundoVideo{
    height: 540px;
}
.carrossel {
    background-color: #81B5AB20;
    border: #81B5AB 2px dashed;
    border-radius: 25px;
    width: 60%;
    height: 420px;
    margin-top: 10px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}
.carrossel-container {
    display: flex;
    transition: transform 0.5s ease;
}
.videoDiv {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.videoDiv img {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
}
.legendaVideos {
    font-size: 20px;
    color: #D0546B;
}
.VideoBotao {
    position: absolute;
    top: 50%;
    font-size: 50px;
    border-radius: 50%;
    color: #2d6056;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: #81B5AB80;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
}
.Esquerda {
    left: 10px;
}
.Direita {
    right: 10px;
}

/*pagina FERRAMENTAS*/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
.container h2 {
	color: #81B5AB;
}
.container p {
	color: #2d6056;
}
.card {
    border-radius: 2em;
    width: 300px;
    height: 300px;
    position: relative;
    cursor: pointer;
    background: #FFFFEF;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
figure {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: 0% 0%;
    transition: all 850ms ease-in-out;
    z-index: 2;
    background: linear-gradient(to bottom, #B0DCD4, #81B5AB);
    border-radius: 2em;
}
.card:hover figure {
    top: -10%;
    left: -10%;
    transform: scale(0.6);
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2em;
}
.tituloFerramentas {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0;
    display: grid;
    place-items: center;
    z-index: 1;
    color: #81B5AB;
}
.tituloFerramentas h2 {
    font-size: 1.25rem;
    text-align: center;
}
.conteudoFerramentas {
    position: absolute;
    bottom: 0;
    padding: 1em 1.5em;
    z-index: 1;
    color: #161c2a;
    line-height: 20px;
}
@media (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4em;
    }
    .tituloFerramentas h2 {
        font-size: 1.45rem;
    }
}
/*PÁGINA INFOGRÁFICO*/
/*Acesso à Internet: Oportunidades e Desafios*/
.container_inf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
}
.container_inf p{
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	color: #2d6056;
}
.p_fig{
	background:linear-gradient(to bottom, #E4A2AF, #D37E8E);
}
.d_fig{
	background:linear-gradient(to bottom, #FDFCDD, #F9F69F);
}
.fundo_inf {
	background-color: #E4A2AF80;
	position: relative;
	margin: 0 auto;
	border: 5px dashed #D37E8E;
}
/* Dicas para Pais e Responsáveis */
.num_dica h2 {
	color: #2d6056;
}
.num_dica_1 h2 {
	color: #AF4F61;
}
.card_dicas {
    display: flex;
    justify-content: left;
    width: 160px;
    height: 140px;
    position: relative;
    background-color: #FFFFEF;
    border-radius: 30px;
    transition: width 0.5s ease; 
    overflow: hidden;
    margin-left: 205px;
}
.card_dicas:hover {
    width: 900px;
}
.num_dica {
    position: absolute;
    width: 160px;
    height: 140px;
    top: 0;
    background: #B0DCD4;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}
.num_dica_1 {
    position: absolute;
    width: 160px;
    height: 140px;
    top: 0;
    background: #E4A2AF;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}
.num_dica_1 h2 {
    margin: 0;
    font-size: 70px;
    transform-origin: center;
}
.num_dica h2 {
    margin: 0;
    font-size: 70px;
    transform-origin: center;
}
.card_dicas:hover .num_dica h2 {
    transform: scale(0.75);
}
.card_dicas:hover .num_dica_1 h2 {
    transform: scale(0.75);
}
.content_dicas {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px; 
    text-align: justify;
    opacity: 0;
    transition: opacity 0.5s ease;
	margin-left: 160px;
}
.content_dicas_1{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 22px; 
    text-align: justify;
    opacity: 0;
    transition: opacity 0.5s ease;
	margin-left: 160px;
}
.content_dicas h2 {
	color: #81B5AB;
	font-size: 35px;
}
.content_dicas p {
	color: #2d6056;
	font-size: 25px;
}
.content_dicas_1 h2 {
	color: #E4A2AF;
	font-size: 35px;
}
.content_dicas_1 p {
	color: #AF4F61;
	font-size: 25px;
}
.card_dicas:hover .content_dicas {
    opacity: 1;
}
.card_dicas:hover .content_dicas_1{
    opacity: 1;
}
/*Acesso à Internet: Dados Estatísticos*/
.card_dados {
	display: flex;
    justify-content: center;
    gap: 3em;
	position: relative;
	transition: 0.5s ease;
	background-color: #81B5AB;
    border: #FFFFEF double 7px;
	border-radius: 30px;
	width: 300px;
	height: 350px;
}
.card_dados:hover {
	height: 400px;
}
.card_dados .img-box {
	position: absolute;
	width: 250px;
	height: auto;
	top: 0px;
	transition: 0.5s ease;
}
.card_dados:hover .img-box {
	top: -100px;
	scale: 0.75;
}
.card_dados .img-box img {
	margin-left: 10px;
	width: 90%;
	height: 90%;
	object-fit: cover;
}
.card_dados .content_dados {
	display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.content_dados p {
	font-size: 25px;
	text-align: center;
	color: #D1F0EA;
}
.content_dados h2{
	font-size: 30px;
	text-align: center;
	color: #2d6056;
}
.card_dados:hover .content_dados {
    top: 130px;
    height: 250px;
}
/*Perigos da Internet para Crianças e Adolescentes*/
.card_pg {
    display: flex;
    justify-content: left;
    width: 1090px;
    height: 300px;
    position: relative;
    background-color: #FFFFEF;
    border-radius: 30px;
    margin-left: 90px;
	border: 5px solid #D37E8E;
}
.card_pg .img-box_1 {
	position: relative;
	width: 100%;
	height: 100%;
}
.card_pg .img-box_1 img {
	width: auto;
	height: 120%;
	object-fit: cover;
	scale: 0.75;
	margin-left: -10px;
	border-radius: 30px;
	border: 5px dashed #D37E8E;
	position: absolute;
	top: -30px;
	left: -20px;
}
.card_pg .content_pg {
	display: flex;
    flex-direction: column;
    gap: 25px;
	margin-top: 30px;
	left: 350px;
	position: absolute;
}
.content_pg p {
	font-size: 30px;
	width: 700px;
	color: #2D6056;
	text-align: justify;
}
.content_pg h2 {
	font-size: 30px;
	text-align: center;
	color: #81B5AB;
}
/*PÁGINA SOBRE NÓS*/
.conteudo_sobre_nos {
	margin-left: 60px;
	margin-right: 60px;
}
.conteudo_sobre_nos h2{
	font-size: 50px;
	color: #D37E8E;
}
.conteudo_sobre_nos p{
	font-size: 35px;
	text-align: left;
	color: #2D6056;
	background-color: #81B5AB;
	border-radius: 30px;
	padding: 35px;
	border: 4px dashed #5C9B8F;
}
.linha {
	border-bottom: 10px dotted #B0DCD4;
    border-color: linear-gradient(to bottom, #D37E8E, #B0DCD4);
}